@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #E1FFEE;
}
.margen{
    margin: 48px;
}
.caja1{
    width: 48px;
    height: 32px;
    background-color: #fff5f7;
    padding: 8px;
    margin-bottom: 8px;
}
.caja2{
    width: 64px;
    height: 32px;
    background-color: #fed7e2;
    padding: 8px;
    margin-bottom: 8px;
}
.caja3{
    width: 80px;
    height: 32px;
    background-color: #fbb6ce;
    padding: 8px;
    margin-bottom: 8px;
}
.caja4{
    width: 96px;
    height: 32px;
    background-color: #f687b3;
    padding: 8px;
    margin-bottom: 8px;
}
.caja5{
    width: 112px;
    height: 32px;
    background-color: #ed64a6;
    padding: 8px;
    margin-bottom: 8px;
}
.caja6{
    width: 128px;
    height: 32px;
    background-color: #d53f8c;
    padding: 8px;
    margin-bottom: 8px;
}
.caja7{
    width: 144px;
    height: 32px;
    background-color: #b83280;
    padding: 8px;
    margin-bottom: 8px;
}
.caja8{
    width: 160px;
    height: 32px;
    background-color: #97266d;
    padding: 8px;
    margin-bottom: 8px;
}
.caja9{
    width: 176px;
    height: 32px;
    background-color: #702459;
    padding: 8px;
    margin-bottom: 8px;
}
.box1{
    width: 80px;
    height: 32px;
    background-color: #fff5f7;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 8px;
}
.box2{
    width: 80px;
    height: 32px;
    background-color: #fed7e2;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 16px;
}
.box3{
    width: 80px;
    height: 32px;
    background-color: #fbb6ce;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 24px;
}
.box4{
    width: 80px;
    height: 32px;
    background-color: #f687b3;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 32px;
}
.box5{
    width: 80px;
    height: 32px;
    background-color: #ed64a6;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 40px;
}
.box6{
    width: 80px;
    height: 32px;
    background-color: #d53f8c;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 48px;
}
.box7{
    width: 80px;
    height: 32px;
    background-color: #b83280;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 56px;
}
.box8{
    width: 80px;
    height: 32px;
    background-color: #97266d;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 64px;
}
.box9{
    width: 80px;
    height: 32px;
    background-color: #702459;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    margin-left: 72px;
}
.contenedor1{
    width: 176px;
    height: 176px;
    background-color: #702459;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor2{
    width: 160px;
    height: 160px;
    background-color: #97266d;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor3{
    width: 144px;
    height: 144px;
    background-color: #b83280;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor4{
    width: 128px;
    height: 128px;
    background-color: #d53f8c;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor5{
    width: 112px;
    height: 112px;
    background-color: #ed64a6;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor6{
    width: 96px;
    height: 96px;
    background-color: #f687b3;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor7{
    width: 80px;
    height: 80px;
    background-color: #fbb6ce;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor8{
    width: 64px;
    height: 64px;
    background-color: #fed7e2;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor9{
    width: 48px;
    height: 48px;
    background-color: #fff5f7;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}




