@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #B1B2FF;
}

h1{
    background-color: #F07DEA;
    padding: 10px;
    color: #5800FF;
    text-align: center;
    border-radius: 12px;
    border: 12px;
}



    
    
