@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(44, 225, 225);
    font-family: 'Roboto', sans-serif;
}
section{
    width: 80%;
    height: 100vh;
    background-color: #FFD1D1;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section article{
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}