@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    background-color: aqua; 
} 
.enlace-blue{
    text-decoration: none;
    color: #367E18;
    margin: 8px;
}
.espacio{
    padding-top: 24px;
    padding-bottom: 24px;
}
.caja{
    background-color: #FFE9A0;
    color: black;
    width: 40px;
    height: 40px;
    position: static;
    left: 48px;
}
.caja2{
    background-color: #FFE9A0;
    color: black;
    width: 40px;
    height: 40px;
    position: relative;
    left: 48px;
    top: 48px;
}
.fixed{
    padding: 12px;
    position: fixed;
    background-color: #FFE9A0;
    color: black;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 48px;
}
.absolute{
    padding: 12px;
    position: absolute;
    background-color: #FFE9A0;
    color: black;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 48px;
}

.h1{
    font-size: 30px;
    text-align: center;
}