@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color:aqua ;
    color: black;
    font-family: 'Roboto', sans-serif;;
}

h1 {
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
}

h2 {
    color: black;
}

a {
    background-color: aqua;
    color: #fff;
    text-decoration: double;
    padding: 12px;
    border-radius: 12px;
}

div{
    background-color: aquamarine;
    color: black;
    padding: 12px;
    border-radius: 12px;
}